body {
	background-size: 50%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-position: right; 
	background-image: url("../img/background.png");
}

table {
    background-color: rgba(245, 245, 245, 0.75);
}

.tooltip-inner {
    text-align: left;
    min-width: 380px;
}